
<!--header-->
  <header class="main-header" id="header">
    <link rel="stylesheet" type="text/css" href="../../assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/main1.css">

    <div class="bg-color">
      <!--nav-->
      <nav class="nav navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                <span class="fa fa-bars"></span>
              </button>
              <a href="index.html" class="navbar-brand">IWin</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="mynavbar">
              <ul class="nav navbar-nav">
                <li><a href="moduloAdministrador">Regresar</a></li>
                <button type="submit" class="btn btn-submit" onclick="location.href='#contact'">Cerrar Sesion</button>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!--/ nav-->
      <div class="container text-center">
        <div>
          <h4 class="sub-title">Gestionar Equipo</h4>
        </div>
      </div>
    </div>
  </header>
<ul class="menuAdmin">
  <li><a href="gestionar-equipo-adm">Listar</a></li>
  <li><a href="eliminar-equipo-adm">Eliminar</a></li>
  <li><a href="listar-inscripciones">Inscripciones</a></li>
</ul>

<body>


  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100 ver1">
        <div class="table100-firstcol">
          <table>
            <thead>
              <tr class="row100 head">
                <th class="cell100 column1">LISTA DE EQUIPOS</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>

        <div class="wrap-table100-nextcols js-pscroll">
          <div class="table100-nextcols">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column2">Nombre Equipo</th>
                  <th class="cell100 column2">Representante</th>
                  <th class="cell100 column3">Cancha Sede</th>
                  <th class="cell100 column4">Telefono Representante</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let equipo of equipos">
                  <td style="vertical-align:middle">{{equipo.nombreEquipo}}</td>
                  <td style="vertical-align:middle">{{equipo.nombreRepresentante}}</td>
                  <td style="vertical-align:middle">{{equipo.canchaSede}}</td>
                  <td style="vertical-align:middle">{{equipo.telefonoRepresentante}}</td>
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


<footer class="" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 footer-copyright">
        © Bethany Theme - All rights reserved
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bethany
          -->
          Designed by CJM Systems
        </div>
      </div>
      <div class="col-sm-5 footer-social">
        <div class="pull-right hidden-xs hidden-sm">
          <a href="https://www.facebook.com/comite.cot"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!---->
<!--contact ends-->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>
