<!--header-->
<header class="main-header" id="header">
  <link rel="stylesheet" type="text/css" href="../../assets/css/util.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/main1.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
  <div class="bg-color">
    <!--nav-->
    <nav class="nav navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
              <span class="fa fa-bars"></span>
            </button>
            <a href="index.html" class="navbar-brand">IWin</a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="mynavbar">
            <ul class="nav navbar-nav">
              <li><a href="moduloAdministrador">Regresar</a></li>
              <button type="submit" class="btn btn-submit">Cerrar Sesion</button>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--/ nav-->
    <div class="container text-center">
      <div>
        <h4 class="sub-title">Gestionar Juego</h4>
      </div>
    </div>
  </div>
</header>
<ul class="menuAdmin" style="color: white;">
  <li><a href="gestionarJuego">Lista</a></li>
  <li><a href="actualizarJuego">Actualizar</a></li>
  <li><a href="resultadoJuego">Insertar Resultados</a></li>
</ul>






<div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
  <span class="label-input100">Arbitro </span>
  <div>
    <select [(ngModel)]="identificacionArbitro" name="identificacionArbitro">
      <option [ngValue]="arbitro.identificacion" *ngFor="let arbitro of arbitroAsignados">{{arbitro.identificacion}} - {{arbitro.nombre}} {{arbitro.apellidos}}</option>
    </select>
  </div>
</div>

<button class="contact100-form-btn" (click)="actualizar(arbitroAsignados)">
  <span>
    Actualizar
    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
  </span>
</button>

<div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
  <span class="label-input100">Fecha </span>
  <div>
    <select [(ngModel)]="fecha" name="fecha">
      <option [ngValue]="fecha.fecha" *ngFor="let fecha of fechas">{{fecha.fecha}}</option>
    </select>
  </div>
</div>
<button class="contact100-form-btn" (click)="hola(fechas)">
  <span>
    Actualizar
    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
  </span>
</button>


<div class="wrap-table100-nextcols js-pscroll">
  <div class="table100-nextcols">
    <table>
      <thead>
        <tr class="row100 head">
          <th class="cell100 column2">Identificador Arbitro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fecha of fechas">
          <td style="vertical-align:middle">{{fecha.fecha}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<footer class="" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 footer-copyright">
        © Bethany Theme - All rights reserved
        <div class="credits">
          <!--s
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bethany
          -->
          Designed by CJM Systems
        </div>
      </div>
      <div class="col-sm-5 footer-social">
        <div class="pull-right hidden-xs hidden-sm">
          <a href="https://www.facebook.com/comite.cot"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!---->
<!--contact ends-->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>
<p>
  prueba works!
</p>
