<!--header-->
<header class="main-header" id="header">
  <link rel="stylesheet" type="text/css" href="../../assets/css/util.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/main1.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
  <div class="bg-color">
    <!--nav-->
    <nav class="nav navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
              <span class="fa fa-bars"></span>
            </button>
            <a href="index.html" class="navbar-brand">IWin</a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="mynavbar">
            <ul class="nav navbar-nav">
              <li><a href="moduloAdministrador">Regresar</a></li>
              <button type="submit" class="btn btn-submit">Cerrar Sesion</button>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--/ nav-->
    <div class="container text-center">
      <div>
        <h4 class="sub-title">Gestionar Juego</h4>
      </div>
    </div>
  </div>
</header>
<ul class="menuAdmin" style="color: white;">
  <li><a href="gestionarJuego">Lista</a></li>
  <li><a href="actualizarJuego">Actualizar</a></li>
  <li><a href="resultadoJuego">Insertar Resultados</a></li>
</ul>
<p *ngIf="!campeonatos"><em>Cargando.......</em></p>


<!--campeonatos-->
<div class="form-group">
  <label class="control-label col-sm-2" for="tipo">Campeonatos:</label>
  <div class="col-sm-10">
    <td>
      <select [(ngModel)]="campeonato" name="campeonato">
        <option [ngValue]="campeonato" *ngFor="let campeonato of campeonatos">{{campeonato.nombreCampeonato}}</option>
      </select>
    </td>

    <form id="formulario" class="form-signin">
      <button class="btn btn-primary" (click)="buscar(campeonato.identificador)">Buscar</button>
    </form>
    <br />
  </div>
</div>
<br />

<div class="container-table100" style="min-height:0; !important">
  <div class="wrap-table100">
    <div class="table100 ver1">
      <div class="table100-firstcol">
        <table>
          <thead>
            <tr class="row100 head">
              <th class="cell100 column1">LISTA DE JUEGOS</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div class="wrap-table100-nextcols js-pscroll">
        <div class="table100-nextcols">
          <table>
            <thead>
              <tr class="row100 head">
                <th class="cell100 column2">Identificador Arbitro</th>
                <th class="cell100 column2">Equipo A</th>
                <th class="cell100 column3">Equipo B</th>
                <th class="cell100 column5">Fecha</th>
                <th class="cell100 column4">Estado</th>
                <th class="cell100 column4">Lugar</th>
                <th class="cell100 column4">Arbitro</th>
                <th class="cell100 column4">Opcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let juego of juegos">
                <td style="vertical-align:middle">{{juego.identificador}}</td>
                <td style="vertical-align:middle">{{juego.equipoA.nombreEquipo}}</td>
                <td style="vertical-align:middle">{{juego.equipoB.nombreEquipo}}</td>
                <td style="vertical-align:middle">{{juego.fechaJuego  | date:'dd/MM/yyyy'}}</td>
                <td style="vertical-align:middle">{{juego.estadoJuego}}</td>
                <td style="vertical-align:middle">{{juego.lugar}}</td>
                <td style="vertical-align:middle">{{juego.arbitroAsignado.nombre}}</td>
                <td style="vertical-align:middle">
                  <button class="btn btn-primary" (click)="buscarJuego(juego)">
                    Buscar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br />



<div class="container-contact100">
    <div class="wrap-contact100">
    <h1>Actualizar Juego</h1>
    <br>
          <form class="contact100-form validate-form" enctype="multipart/form-data" required>

      <span class="contact100-form-title"></span>

      <div class="wrap-input100 validate-input bg1" data-validate="Campo requerido">
        <span class="label-input100">Fecha:</span>
        <input class="input100" type="datetime-local" [(ngModel)]="fechaJuego" name="fechaJuego" placeholder="Fecha Juego">
      </div>

      <div class="wrap-input100 validate-input bg1" data-validate="Campo requerido">
        <span class="label-input100">Estado:</span>
        <input class="input100" type="text" [(ngModel)]="estadoJuego" name="estadoJuego" placeholder="Estado">
      </div>

      <div class="wrap-input100 validate-input bg1" data-validate="Campo requerido">
        <span class="label-input100">Lugar:</span>
        <input class="input100" type="text" [(ngModel)]="lugar" name="lugar" placeholder="Lugar ">
      </div>


      <div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
        <span class="label-input100">Arbitro </span>
        <div>
          <select [(ngModel)]="identificacionArbitro" name="identificacionArbitro">
            <option [ngValue]="arbitro.identificacion" *ngFor="let arbitro of arbitroAsignados">{{arbitro.identificacion}} - {{arbitro.nombre}} {{arbitro.apellidos}}</option>
          </select>
        </div>
      </div>


      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" (click)="actualizar()">
          <span>
            Actualizar
            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>

<footer class="" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 footer-copyright">
        © Bethany Theme - All rights reserved
        <div class="credits">
          <!--s
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bethany
          -->
          Designed by CJM Systems
        </div>
      </div>
      <div class="col-sm-5 footer-social">
        <div class="pull-right hidden-xs hidden-sm">
          <a href="https://www.facebook.com/comite.cot"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!---->
<!--contact ends-->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>
